name: portfolio_website
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.6.2

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins: 
    sdk: flutter
  visibility_detector: ^0.4.0+2
  scroll_animator: ^0.3.0
  google_fonts: ^6.3.2
  lottie: ^3.3.1
  flutter_native_splash: ^2.4.4
  auto_size_text: ^3.0.0
  qlevar_router: ^1.12.0
  url_launcher: ^6.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/icons/
    - assets/animations/
    - assets/images/

flutter_native_splash:
  color: "#2b3537"
  image: assets/animations/loader_transparent.gif
